{% extends "layout.njk" %}    {# extendendo a formatação e estilização do layout para index #}

{% block content %}

<div class="card table-container">
    <a href="/members/create">Novo</a>
    <table width="100%">
        <thead>
            <tr>
                <th>Membro</th>
                <th>Email</th>
                <th>Altura</th>
                <th>Peso</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
{# TRAZENDO DINÂMICAMENTE OS DADOS PARA PREENCHER A TABELA #}
            {% for member in members %} 
                <tr>
                    <td>
                        <span style="background-image: url({{member.avatar_url}})"></span>
                        {{ member.name }}
                    </td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.weight }}kg</td>
                    <td>{{ member.height }}cm</td>
                    <td><a href="/members/{{member.id}}">VER</a></td> {# Botão que leva direto para o card do Instrutor #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
