@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {  /* variável de cor mais usadas para facilitar estilização */
    --rocket-color: #7159c1;
    --job-color: #F7DF1E;
}

* {  /*Tirando as config padrão do browser*/
    margin: 0;
    padding: 0;
    border: none;
}

body {
     background-color: var(--rocket-color);
     font-family: 'Roboto', sans-serif;   
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
    box-sizing: border-box; /* levando todo o conteudo até o limite de 100% (width)*/
}

.links {
    font-size: 22px;
}

.links a + a { /* Apenas do 2o em diante (apenas o que tiver um "a" precedente) */
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active { /* active entrando pelo JS */
    font-weight: bold;
    color: var(--rocket-color);

}

.links a:hover {
    color: var(--rocket-color);
}

.links a::after{
    content: ""; /* sempre precisa de content... podendo ser vazio */
    width: 0;
    height: 2px;
    background-color: var(--rocket-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {  /* quando cursor em cima ele inicia  */
    content: "";
    width: 100%;
    transition: width 400ms ease-in-out; /* ease-in-out pre-det. de cubic-bezier*/
} 

/* ================ CARD ================ */

.card {
    background-color: white;
    width: 800px;
    min-height: 400px;

    /* espaçamento e alinhado ao centro */
    margin: 45px auto;

    /* grid dividido ao meio */
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* Sombra na caixa */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    /*  animation */
    animation: up 200ms ease-out;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
    }
}

/* ================ Details ================  */

.details {
    padding: 32px;
}

.details .item {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding: 16px 0;
}

.details .item:last-child { /* apenas o ultimo elemento */
    border: none;
}

.details h3,
.details .item div:nth-child(1) { /* apenas o primeiro elemento */
    font-size: 14px;
    line-height: 24px;
    color: #777;
    letter-spacing: 0.7px;
    font-weight: normal;
}

.details .item div:nth-child(2) {  /* apenas o segundo elemento */
    color:#555;
    font-weight: bold;
    font-size: 18px;
}

.details h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--rocket-color);
}

.details .item span {  /* apenas a tag <span> */
    padding: 8px 16px;
    background-color: var(--job-color);
    border-radius: 16px;
    color: #777;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block; /* config do display para que possa espaçar // apenas block pega a linha toda */
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

/* ================ Form ================ */

input, select {
    width: 100%;
    outline: none;
    color:#555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"] {
    width: initial;
    margin-right: 4px;
}

input::placeholder {
    font-size: 16px;
    font-weight: normal;
}

button[type="submit"],
a.button {
    padding: 8px 32px;
    background-color: var(--rocket-color);
    color: white;
    border-radius: 4px;
    margin-top: 32px;
    width: 100%;
    font-size: 16px;
}

a.button {
    display: block;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

#form-delete button[type="submit"] {
    margin-top: 8px;
    background-color: lightcoral;
}

/* ================ INDEX INSTRUCTORS ================ */

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}
tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a,
.table-container > a {
    background-color: var(--rocket-color);
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.table-container > a {
    margin-bottom: 16px;
    display: inline-block;
}

.table-container thead tr th:last-child, 
td:last-child {
    text-align: center;
}

